$logoSize: 40px;
$FFprimary: "Roboto";
$colorWhite: whitesmoke;
$colorOrng: #ce5c35;
$FFsecondary: "Poppins",
sans-serif;
$FFthird: 'Open Sans',
sans-serif;
$borderContent: 11px;

@import "modulesStyles/contentUser";
@import "modulesStyles/contentLogin";
@import "modulesStyles/desktopLogin";
@import "modulesStyles/contentProfile";
@import "modulesStyles/desktopProfile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: $FFsecondary;
}

/* Scroll Bar */

::-webkit-scroll,
::-webkit-scrollbar {
  width: 0.3125rem;
  background-color: rgba(233, 223, 223, 0.151);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background: linear-gradient(rgba(204, 199, 199, 0.37), #ce5b3580);
}