$logoSize: 40px;
$FFprimary: "Roboto";
$colorWhite: whitesmoke;
$colorOrng: #ce5c35;
$FFsecondary: "Poppins",
sans-serif;

@import "modulesStyles/desktopLogin";
@import "modulesStyles/contentLogin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: $FFsecondary;
  background: rgb(236, 183, 183);
}