.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
  font-family: $FFsecondary;
}
h1 {
  display: flex;
  font-size: 55px;
  padding-top: 40px;
  margin-bottom: 35px;
  color: whitesmoke;
  justify-content: center;
}

h1 img {
  width: 15px;
  height: 71px;
  margin: 0 0.3rem;
  font-family: $FFprimary;
}
h1 span {
  color: rgb(229, 144, 65);
}

.sectionSubTitle {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.sectionSubTitle a {
  font-size: 15px;
  color: $colorWhite;
  text-decoration: none;
  font-family: $FFprimary;
}
.sectionSubTitle h2 {
  font-size: 30px;
  color: $colorWhite;
  font-family: $FFprimary;
  letter-spacing: 2px;
}

.item {
  display: flex;
  font-size: 1.5rem;
  color: $colorWhite;
  margin-top: -1.7px;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid $colorWhite;
}

.item:first-child::after {
  content: "";
  top: -0.9px;
  width: 100vh;
  right: 1.5rem;
  position: absolute;
  border-top: 1px solid $colorWhite;
}

.item:last-child::after {
  content: "";
  width: 100vh;
  left: 1.5rem;
  bottom: -0.9px;
  position: absolute;
  border-top: 1px solid $colorWhite;
}

#lastItem:last-child::after {
  content: "";
  width: 100vh;
  left: 1.5rem;
  bottom: -0.9px;
  position: absolute;
  border-top: 1px solid $colorWhite;
}

.item:nth-child(odd) {
  // toma impares
  border-radius: 0 3rem 3rem 0;
  border-left: 1px solid transparent;
  margin-left: calc(1rem + #{$logoSize});
}

.item:nth-child(even) {
  // toma pares
  margin-right: calc(
    0.6rem + #{$logoSize}
  ); // hace un calculo entre dos medidas rem con pixeles y el #{$} es la sintaxis para llamar la variable dentro de un calc (interpolacion en sass)
  border-radius: 3rem 0 0 3rem;
  border-right: 1px solid transparent;
}
.item input {
  border: none;
  padding: 1rem;
  outline: none;
  background-color: transparent;
}
.item img {
  margin: 0.4rem;
  width: $logoSize;
  height: $logoSize;
  border-radius: 50%;
}
.signIn {
  color: $colorWhite;
  display: flex;
  font-size: 15px;
  margin-top: 18px;
  justify-content: center;
  font-family: $FFprimary;
}
.sectionNetworks {
  display: flex;
  justify-content: center;
}

.sectionNetworks img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px 20px 30px 20px;
  box-shadow: 7px 25px 32px -5px rgba(0, 0, 0, 0.38);
}
p {
  display: flex;
  font-size: 16px;
  margin-top: 72px;
  color: $colorWhite;
  justify-content: center;
  font-family: $FFprimary;
}
p span {
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
  color: rgb(229, 144, 65);
}

// rectangulo
.fatherButton {
  display: flex;
  justify-content: center;
}

.rectangule {
  height: 50px;
  width: 153px;
  position: absolute;
  border-radius: 50px;
  box-sizing: border-box;
  border: 10px solid rgba(0, 0, 0, 0.15);
}
.rectangule button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  color: $colorWhite;
  border-radius: 55px;
  font: bolder 15px Roboto;
  letter-spacing: 3px;
  background: linear-gradient(82.14deg, #ec9443 -3.88%, #c85032 64.89%);
}

.rectangule:after,
.rectangule:before {
  width: 0;
  left: 50%;
  height: 0;
  bottom: 100%;
  content: " ";
  position: absolute;
  pointer-events: none;
  border: solid transparent;
}

.rectangule:after {
  border-width: 20px;
  margin-left: -20px;
  border-bottom-color: pink;
}
.rectangule:before {
  border-width: 36px;
  margin-left: -36px;
  border-radius: 22px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
.sectionFather {
  display: flex;
  justify-content: center;
}
.sectionSon {
  border: 1px solid black;
}
