#profile-container {
	min-height: 100vh;
	overflow: visible;
	background-size: cover;
	background-attachment: fixed;
	// background: linear-gradient(141deg, #f09a84 33%, #e77f1e 64%);
	background-image: url("https://storage.googleapis.com/md-links/bg.png");


	.profile-user-avatar {
		.portada {
			width: 100vw;
			height: 200px;
			display: flex;
			margin-top: -2rem;
			background-size: cover;
			justify-content: center;
			// background-attachment: fixed;
			// background-image: url("https://storage.googleapis.com/md-links/fondo.png");

			.user-img {
				img {
					width: 200px;
					height: 200px;
					object-fit: cover;
					margin-top: 100px;
					border-radius: 50%;
					object-position: center;
					border: 0.9375rem solid rgba(22, 22, 22, 0.356);
					box-shadow: 0.625rem 0.625rem 1.125rem 0.0625rem rgba(0, 0, 0, 0.75);
				}
			}
		}

		.user-img-info {
			display: flex;
			text-align: center;
			margin-top: 7.99rem;
			justify-content: center;

			progress#uploader {
				width: 100%;
			}

			progress {
				display: none;
			}

			#photoChng {
				margin: 0 0.5rem;
				border-radius: 1.5rem;
				background: #ce5b359f;
				padding: 15px 20px !important;
				font-family: "Poppins", sans-serif;
				border: 0.4rem solid rgba(0, 0, 0, 0.336);
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			}

			#labelChng {
				margin: 0 0.5rem;
				border-radius: 1.5rem;
				padding: 15px 20px !important;
				font-family: "Poppins", sans-serif;
				background: rgba(24, 24, 24, 0.781);
				border: 0.4rem solid rgba(0, 0, 0, 0.336);
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			}
		}
	}

	#profile-info {
		width: min-content;
		padding: 30px;
		margin-top: 20px;
		color: whitesmoke;
		border-radius: 15px;
		background: rgba(0, 0, 0, 0.356);
		box-shadow: 0.625rem 0.625rem 1.125rem 0.0625rem rgba(0, 0, 0, 0.75);

		.profile-form-group {
			display: flex;
			flex-direction: column;

			.profile-inputs input {
				height: 43px;
				width: 10rem;
				outline: 0rem;
				cursor: pointer;
				color: $colorWhite;
				text-align: center;
				border-radius: 1.25rem;
				text-transform: capitalize;
				font-family: "Poppins", sans-serif;
				border: 0.125rem solid #e6e6e631;
				padding: 0.5625rem 0 0.4375rem 0.5rem;
				background: rgba(78, 77, 77, 0.267);
			}

			.profile-inputs {
				color: orange;
				margin: 0.4rem 1rem;
				display: inline-flex;

				#editInputName,
				#editInputPass {
					width: 45px;
					height: 45px;
					padding: 5px;
					cursor: pointer;
					margin-left: 7px;
					border-radius: 50%;
					background: rgba(0, 0, 0, .1);
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					border: 0.1px solid rgba(255, 255, 255, 0.171);
				}

				#editInputName:hover,
				#editInputPass:hover {
					background: #ce5b3573;
				}
			}
		}
	}

	.signIn {
		color: darkslategrey;
	}

	#submit {
		width: 20vh;
		height: 8vh;
		outline: none;
		cursor: pointer;
		text-align: center;
		color: whitesmoke;
		border-radius: 1.5rem;
		margin: 2.5rem 4.375rem 0;
		letter-spacing: 0.1875rem;
		font-family: $FFsecondary;
		border: 0.625rem solid rgba(0, 0, 0, 0.5);
		background: linear-gradient(82.14deg, #ec9443 -3.88%, #c85032 64.89%);

		#submit:hover {
			color: $colorWhite;
			background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
		}
	}
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.regresar {
		outline: none;
		font-size: 18px;
		cursor: pointer;
		margin-top: 7px;
		padding: 10px 20px;
		text-align: center;
		font-weight: bolder;
		color: whitesmoke;
		border-radius: 1.5rem;
		background: #ce5b359f;
		font-family: "Poppins", sans-serif;
		border: 0.625rem solid rgba(0, 0, 0, 0.336);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}

#labelChng:hover {
	color: #ce5c35;
	text-shadow: 0.125rem 0.125rem 0.5rem rgb(255, 115, 0);
}

#photoChng:hover {
	color: #050505c7;
	text-shadow: 0.125rem 0.125rem 0.5rem rgb(235, 67, 16);
}

.regresar:hover {
	color: #f55626;
	background: rgba(0, 0, 0, 0.733);
	text-shadow: 0.125rem 0.125rem 0.5rem rgb(255, 116, 3);
}

.password2:hover,
.inputName:hover {
	border: 1px solid rgb(248, 58, 24);
	box-shadow: 0rem -0.0063rem 0.4375rem -0.0063rem rgb(243, 147, 103);
}

input[type=”file”]#changeBg {
	opacity: 0;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
}

label[for="changeBg"] {
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	width: fit-content;
	text-align: center;
	transition: all .5s;
	display: inline-block;
	text-transform: uppercase;
}

input[type=”file”]#file {
	opacity: 0;
	z-index: -1;
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
}

label[for="file"] {
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	width: fit-content;
	text-align: center;
	transition: all .5s;
	display: inline-block;
	text-transform: uppercase;
}

@media (min-width: 1024px) and (min-height: 625px) and (max-height: 1024px) {}
