.All-sections {
  // flex-flow: column;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://storage.googleapis.com/md-links/bg.png");
}

#idLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(43, 41, 41, 0.767);
  position: fixed;
  z-index: 100;
}
.clsLoadingHide {
  display: none !important;
}

.container-Publications-Profile {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  .sectionProfile {
    border-radius: $borderContent;
    background: rgba(234, 226, 226, 0.473);

    .coverPage {
      width: 100%;
      height: 10em;
      background: $colorOrng;
      border-radius: $borderContent;

      img {
        width: 100%;
        height: 100%;
        border-radius: $borderContent;
      }

      a {
        .imgMenu {
          width: 30px;
          height: 30px;
          margin-left: 90%;
          margin-top: 0.8%;
          padding: 0.25rem;
          border-radius: 50%;
          background: rgba(59, 58, 58, 0.575);
          box-shadow: 0.625rem 0.625rem 1rem -0.0625rem rgba(0, 0, 0, 0.75);
        }
      }

      .imgMenu:hover {
        border: 1px solid rgb(224, 88, 64);
        box-shadow: 0rem -0.0063rem 0.4375rem -0.0063rem rgb(231, 79, 8);
      }
    }

    .profilePicture {
      display: flex;
      align-items: center;
      margin-bottom: -3rem;
      flex-direction: column;
      justify-content: center;

      a {
        position: absolute;
        z-index: 100;
      }

      #userPhoto {
        top: -4rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        object-position: center;
        border: 0.9375rem solid rgba(126, 124, 124, 0.308);
      }

      #userPhoto:hover {
        background: #ec954379;
      }

      h5 {
        top: -3.5rem;
        position: relative;
        font-weight: bolder;
        text-transform: capitalize;
      }
    }
  }

  .sectionPublications {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0.5rem;

    .containerNewPublications {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 0.5rem;
      .commentary {
        width: 100%;
        height: 2.3rem;
        background: #eae2e2;
        border-radius: 10px 10px 0 0;
        border: solid 2px rgba(255, 253, 253, 0.664);
      }
      textarea {
        width: 100%;
        height: 5rem;
        background: #fff6ef;
        border: solid 2px rgba(255, 253, 253, 0.664);
        padding: 1rem;
        text-transform: capitalize;
        font-family: $FFsecondary;
      }

      #textAreaComentary::-webkit-input-placeholder {
        color: gray;
        font-size: 1em;
        font-family: $FFsecondary;
      }

      #displayImage {
        width: 100%;
        background: #fff6ef;
        padding: 0.5rem;
        img {
          max-width: 80px;
          max-height: 80px;
          background: #fff6ef;
          cursor: pointer;
        }
      }

      .clsDisplayImage {
        display: none;
      }

      .optionsToPost {
        width: 100%;
        display: flex;
        align-items: center;
        background: #fff6ef;
        padding: 0.2rem;
        margin-bottom: 0.5rem;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;

        .accionPublication {
          width: 30%;
          display: flex;
          align-content: center;
          padding: 0.5rem;
          img {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }

          #addImg {
            display: none;
          }
          .selectPublicPrivate {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 80%;
            border-radius: 30%;
            border: solid 1px;
            margin-left: 0.5rem;
            option {
              size: 5rem;
              display: flex;
              align-content: center;
              background-color: coral;
            }
          }
        }
        .clsMessajePostEmpty {
          color: rgb(94, 7, 7);
        }

        .btnToPost {
          width: 30%;
          height: 100%;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 0.3125rem;
          color: $colorWhite;
          text-align: center;
          border-radius: 3.4375rem;
          font: bolder 0.9375rem Roboto;
          border: 5px solid rgba(0, 0, 0, 0.322);
          box-shadow: 0.625rem 0.625rem 1rem -0.0625rem rgba(0, 0, 0, 0.75);
          background: linear-gradient(82.14deg, #494541 -3.88%, #c85032 64.89%);
        }

        .btnToPost:hover {
          background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
        }
      }
    }

    .stories {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      background: rgba(234, 226, 226, 0.473);
      border-radius: $borderContent;
      .authorPublication {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        background: #eae2e2;
        padding: 0.5rem;
        border-radius: 0.625rem 0.625rem 0 0;
        justify-content: space-between;
        .detailsAuthor {
          display: flex;
          align-items: center;
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: solid rgb(243, 234, 234);
          }
          .dataProfile {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0.5rem;
            .contentDeatilsRegistration {
              display: flex;
              align-items: center;
              p {
                margin-top: 0;
              }
              img {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
        .clsToogleMenu {
          cursor: pointer;
          ul {
            li {
              list-style: none;
            }
          }
          .clsBtnOption {
            display: none;
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        background: #fff6ef;
        padding: 0.5rem;
        margin: 0.5rem auto;
        border-radius: $borderContent;
        p {
          white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
          white-space: -pre-wrap;      /* Opera 4-6 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          white-space: pre-wrap;       /* css-3 */
          word-wrap: break-word;       /* Internet Explorer 5.5+ */
          white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
          word-break: break-all;
          white-space: normal;
          margin-top: 0;
        }
        .clsImg {
          display: none;
        }
        img {
          max-width: 100%;
        }
      }

      .interactions {
        width: 90%;
        height: 3rem;
        background: #ffffff;
        display: flex;
        align-items: center;
        padding: 0 0.625rem 0 0.625rem;
        border-radius: 0 0 0.625rem 0.625rem;
        border-radius: $borderContent;
        margin: 0.5rem auto;

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          padding: 0.1875rem;
          margin-left: 0.3125rem;
        }
      }
    }
  }
}

.logOut {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  padding: 0.25rem;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.4375rem;
  margin-left: -4.125rem;
  background: rgba(115, 238, 141, 0.918);
}

.logOut:hover {
  background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
}

.displayUserName {
  display: flex;
  color: #ce5c35;
  font-size: 1.25rem;
  font-weight: bolder;
  justify-content: center;
  margin-bottom: 0.9375rem;
  text-transform: capitalize;
  text-decoration-line: underline;
}

#name {
  text-transform: capitalize;
}
