.sectionPublications {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.5rem;

  .containerNewPublications {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.5rem;

    .commentary {
      width: 100%;
      height: 2.3rem;
      background: #eae2e2;
      border-radius: 10px 10px 0 0;
      border: solid 2px rgba(255, 253, 253, 0.664);
    }

    textarea {
      width: 100%;
      height: 5rem;
      background: #fff6ef;
      border: solid 2px rgba(255, 253, 253, 0.664);
      padding: 1rem;
      font-family: $FFsecondary;
    }

    #textAreaComentary::-webkit-input-placeholder {
      color: gray;
      font-size: 1em;
      font-family: $FFsecondary;
    }

    #displayImage {
      width: 100%;
      background: #fff6ef;
      padding: 0.5rem;

      img {
        max-width: 80px;
        max-height: 80px;
        background: #fff6ef;
        cursor: pointer;
      }
    }

    .clsDisplayImage {
      display: none;
    }

    .optionsToPost {
      width: 100%;
      display: flex;
      align-items: center;
      background: #fff6ef;
      padding: 0.2rem;
      margin-bottom: 0.5rem;
      border-radius: 0 0 10px 10px;
      justify-content: space-between;

      .accionPublication {
        width: 30%;
        display: flex;
        align-content: center;
        padding: 0.5rem;

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        #addImg {
          display: none;
        }

        .selectPublicPrivate {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 60%;
          border: none;
          margin-left: 0.5rem;
          outline: none;
          background-color: #fff6ef;

          option {
            size: 5rem;
            display: flex;
            align-content: center;
            background-color: coral;
          }
        }
      }

      .clsMessajePostEmpty {
        color: rgb(94, 7, 7);
      }

      .btnToPost {
        width: 30%;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.3125rem;
        color: $colorWhite;
        text-align: center;
        border-radius: 3.4375rem;
        font: bolder 0.9375rem Roboto;
        border: 5px solid rgba(0, 0, 0, 0.322);
        box-shadow: 0.625rem 0.625rem 1rem -0.0625rem rgba(0, 0, 0, 0.75);
        background: linear-gradient(82.14deg, #494541 -3.88%, #c85032 64.89%);
      }

      .btnToPost:hover {
        background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
      }
    }
  }

  .stories {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: rgba(234, 226, 226, 0.473);
    border-radius: $borderContent;

    .authorPublication {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3rem;
      background: #eae2e2;
      padding: 0.5rem;
      border-radius: 0.625rem 0.625rem 0 0;
      justify-content: space-between;

      .detailsAuthor {
        display: flex;
        align-items: center;

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: solid rgb(243, 234, 234);
        }

        .dataProfile {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0.5rem;

          .contentDeatilsRegistration {
            display: flex;
            align-items: center;

            p {
              margin-top: 0;
            }

            img {
              width: 1.5rem;
              height: 1.5rem;
            }

            .idPublication {
              display: none;
            }
          }
        }
      }

      .clsToogleMenu {
        cursor: pointer;

        .dropdown-menu {
          display: none;
        }

        ul {
          position: absolute;
          z-index: 100;
          background: #fff6ef;
          width: 6rem;
          margin-left: -60px;
          border-radius: $borderContent;

          li {
            list-style: none;
          }

          li:hover {
            color: #c85032;
          }
        }

        .clsBtnOption {
          display: none;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 90%;
      background: #fff6ef;
      padding: 0.5rem;
      margin: 0.5rem auto;
      border-radius: $borderContent;

      p {
        display: block;
        white-space: -moz-pre-wrap !important;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        white-space: pre-wrap;
        /* css-3 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap;
        /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
        margin-top: 0;
      }

      .clsGuardarUpdate {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;

        .btnGuardarUpdate {
          border: none;
        }
      }

      .clsHide {
        display: none;
      }

      .clsImg {
        display: none;
      }

      img {
        max-width: 100%;
      }
    }

    .interactions {
      width: 90%;
      height: 3rem;
      background: #ffffff;
      display: flex;
      align-items: center;
      padding: 0 0.625rem 0 0.625rem;
      border-radius: 0 0 0.625rem 0.625rem;
      border-radius: $borderContent;
      margin: 0.5rem auto;

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 0.1875rem;
        margin-left: 0.3125rem;
      }

      button {
        border: none;
        display: flex;
        background: transparent;
      }
    }
  }
}


/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}