.All-sections {
  // flex-flow: column;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://storage.googleapis.com/md-links/bg.png");
}

#idLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(43, 41, 41, 0.767);
  position: fixed;
  z-index: 100;
}
.clsLoadingHide {
  display: none !important;
}

.container-Publications-Profile {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  .sectionProfile {
    border-radius: $borderContent;
    background: rgba(234, 226, 226, 0.473);

    .coverPage {
      width: 100%;
      height: 10em;
      background: $colorOrng;
      border-radius: $borderContent;

      img {
        width: 100%;
        height: 100%;
        border-radius: $borderContent;
      }

      a {
        .imgMenu {
          width: 30px;
          height: 30px;
          margin-left: 90%;
          margin-top: 0.8%;
          padding: 0.25rem;
          border-radius: 50%;
          background: rgba(59, 58, 58, 0.575);
          box-shadow: 0.625rem 0.625rem 1rem -0.0625rem rgba(0, 0, 0, 0.75);
        }
      }

      .imgMenu:hover {
        border: 1px solid rgb(224, 88, 64);
        box-shadow: 0rem -0.0063rem 0.4375rem -0.0063rem rgb(231, 79, 8);
      }
    }

    .profilePicture {
      display: flex;
      align-items: center;
      margin-bottom: -3rem;
      flex-direction: column;
      justify-content: center;

      a {
        position: absolute;
        z-index: 100;
      }

      #userPhoto {
        top: -4rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        object-position: center;
        border: 0.9375rem solid rgba(126, 124, 124, 0.308);
      }

      #userPhoto:hover {
        background: #ec954379;
      }

      h5 {
        top: -3.5rem;
        position: relative;
        font-weight: bolder;
        text-transform: capitalize;
      }
    }
  }
}

.logOut {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  padding: 0.25rem;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.4375rem;
  margin-left: -4.125rem;
  background: rgba(115, 238, 141, 0.918);
}

.logOut:hover {
  background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
}

.displayUserName {
  display: flex;
  color: #ce5c35;
  font-size: 1.25rem;
  font-weight: bolder;
  justify-content: center;
  margin-bottom: 0.9375rem;
  text-transform: capitalize;
  text-decoration-line: underline;
}

#name {
  text-transform: capitalize;
}
