header {
  display: none;
}

// ------------------------ CONTAINERS
.All-sections {
  min-height: 100vh;
  justify-content: center;
}

.logo-principalMobile {
  text-align: center;
  margin-top: 2rem;
}

// ------------------------ TITULO Y SUBTITULO
h1 {
  display: flex;
  color: $colorWhite;
  padding-top: 2.5rem;
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 2.1875rem;

  img {
    width: 15px;
    height: 71px;
    margin: 0 0.3rem;
    font-family: $FFprimary;

    span {
      color: rgb(229, 144, 65);
    }
  }
}

.sectionSubTitle {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: space-around;

  a {
    color: $colorWhite;
    font-size: 0.9375rem;
    text-decoration: none;
    font-family: $FFsecondary;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a:hover {
    color: $colorOrng;
    font-weight: bolder;
    text-decoration: underline;
  }

  h2 {
    color: $colorWhite;
    font-size: 1.875rem;
    font-family: $FFsecondary;
    letter-spacing: 0.125rem;
  }
}

// ------------------------ Inputs (culebras)

.forgotPass {
  background: grey;
}

.container,
.forgotPass {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 0;

  .item {
    display: flex;
    max-width: 100%;
    font-size: 1.5rem;
    color: $colorWhite;
    position: relative;
    align-items: center;
    margin-top: -0.08rem;
    text-transform: uppercase;
    border: 0.0625rem solid $colorWhite;

    img {
      margin: 0.4rem;
      width: $logoSize;
      min-width: $logoSize;
      height: $logoSize;
      border-radius: 50%;
    }

    input {
      border: none;
      width: 100%;
      outline: none;
      font-size: 1.25rem;
      color: $colorWhite;
      font-family: $FFsecondary;
      background-color: transparent;
    }
  }
}

::-webkit-input-placeholder {
  color: $colorWhite;
  font-size: 1.25rem;
  font-family: $FFsecondary;
}

.item:first-child::after {
  content: "";
  top: -0.9px;
  width: 100vh;
  right: 1.5rem;
  position: absolute;
  border-top: 0.0625rem solid $colorWhite;
}

.item:last-child::after {
  content: "";
  width: 100vh;
  left: 1.5rem;
  bottom: -0.0563rem;
  position: absolute;
  border-top: 0.0625rem solid $colorWhite;
}

.item:nth-child(odd) {
  // toma impares
  border-radius: 0 3rem 3rem 0;
  margin-left: calc(1rem + #{$logoSize});
  border-left: 0.0625rem solid transparent;
}

.item:nth-child(even) {
  // toma pares
  border-radius: 3rem 0 0 3rem;
  margin-right: calc(0.6rem + #{$logoSize});
  border-right: 0.0625rem solid transparent;
}

// ------------------------ TEXTO antes DE GOOGLE Y FB
.signIn {
  display: flex;
  color: whitesmoke;
  font-size: 1rem;
  margin-top: 2rem;
  justify-content: center;
  font-weight: bolder;
  font-family: $FFsecondary;
}

// ------------------------ Buttons DE GOOGLE Y FB

.sectionNetworks {
  display: flex;
  justify-content: center;

  img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    margin: 1.25rem 1.25rem 1.875rem 1.25rem;
    box-shadow: 0.4375rem 1.5625rem 2rem -0.3125rem rgba(0, 0, 0, 0.38);
  }

  img:hover {
    padding: 0.625rem;
    border: transparent;
    background: radial-gradient(circle,
        rgba(244, 179, 126, 1) 2%,
        rgba(236, 148, 67, 1) 56%,
        rgba(200, 80, 50, 1) 88%);
    border: 0.3125rem solid #c85032ab;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

// ------------------------ BUTTON LOGIN & SIGN UP
.loginButton {
  display: flex;
  justify-content: center;

  .loginButtonSon {
    height: 50px;
    width: 153px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 3.125rem;
    border: 0.625rem solid rgba(0, 0, 0, 0.15);
  }

  button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: $colorWhite;
    text-align: center;
    border-radius: 3.4375rem;
    letter-spacing: 0.1875rem;
    background: linear-gradient(82.14deg, #ec9443 -3.88%, #c85032 64.89%);
  }

  button:hover {
    background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
  }
}

.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}

.loginButtonSon:after,
.loginButtonSon:before {
  width: 0;
  left: 50%;
  height: 0;
  content: " ";
  bottom: 100%;
  position: absolute;
  pointer-events: none;
  border: solid transparent;
}

.loginButtonSon:after {
  // Triangulo del button
  border-width: 1.25rem;
  margin-left: -1.25rem;
  border-bottom-color: $colorOrng;
}

.loginButtonSon:before {
  border-width: 2.25rem;
  margin-left: -2.25rem;
  border-radius: 1.375rem;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

#eye {
  position: absolute;
  margin-top: 10px;
  outline: none;
  padding: 2px;
  margin-left: 100%;
  background: transparent;
  border: none;

  #imgEye {
    transition: all .3s ease-in-out;
  }
}

// ------------------------ TEXTO de enlace al SIGN up
p {
  display: flex;
  font-size: 1rem;
  margin-top: 4.5rem;
  font-weight: bolder;
  justify-content: center;
  font-family: $FFsecondary;
  color: black;

  span a {
    font-size: 1rem;
    color: $colorOrng;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3125rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  span a:hover {
    color: grey;
    font-weight: bolder;
    text-shadow: 0.625rem;
    text-decoration: underline;
  }
}

.sectionSon {
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 9% 0% 26%;

  #containerLogIn {
    h1 {
      display: none;
    }
  }
}

#circle1 {
  width: 180vw;
  height: 180vw;
  position: absolute;
  top: -15%;
  left: -40%;
  z-index: -5;
  border-radius: 50%;
  background-image: linear-gradient(180deg,
      rgba(19, 19, 19, 0.8) 19.79%,
      rgba(204, 83, 51, 0.8) 53.13%,
      rgba(200, 80, 50, 0.8) 82.29%,
      rgba(194, 141, 125, 0.8) 100%),
    url("https://storage.googleapis.com/md-links/burbuja.png");
  background-size: contain;
}

#circle2 {
  width: 180vw;
  height: 190vw;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: -8%;
  right: -30%;
  z-index: -10;
  background: radial-gradient(50% 50% at 50% 50%, #6c4237 76.04%, #c03510 100%);
}

// --------------------------------- Olvido su contrasena?
.forgotPass {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  height: 99.9vh;
  color: white;
  text-align: center;

  video {
    height: 48%;
  }

  h1 {
    position: absolute;
    font-size: 23px;
  }

  .item:nth-child(odd) {
    border-radius: 0 3rem 3rem 0;
    margin-left: 0;
    border-left: 0.0625rem solid transparent;

    input {
      margin-left: 15px;
    }
  }

  .sendEmail {
    width: 132px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    border-radius: 1.5rem;
    background: #ce5b359f;
    font-family: "Poppins", sans-serif;
    border: 0.625rem solid rgba(0, 0, 0, 0.336);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .sendEmail:hover {
    background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
  }

  .sendEmail:hover {
    color: yellow;
    background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
  }

  #forgotPass {
    height: 100vh;
    padding-top: 0px;
    border-radius: 0.9375rem;
    background: rgba(0, 0, 0, 0.5);

    .key {
      top: 100px;
      height: 150px;
      position: absolute;
      border-radius: 50%;
      box-shadow: 3.3125rem 3.5625rem 3.125rem -1.4375rem rgba(0, 0, 0, 0.29);
    }
  }
}



// --------------------------------- 404 notFound

.notFound {
  color: white;
  padding: 1.25rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 5rem 1.875rem 3.125rem 1.875rem;
  background: rgba(244, 179, 126, 0.267);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 3.3125rem 3.5625rem 3.125rem -1.4375rem rgba(0, 0, 0, 0.29);

  h1 {
    text-shadow: 0.125rem 0.125rem 0.25rem #000000;
  }

  span {
    color: yellow;
    font-size: 6.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem #000000;
  }

  video {
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
  }

  p {
    color: white;
    font-weight: bolder;
  }

  button {
    width: 20vh;
    height: 8.5vh;
    outline: none;
    cursor: pointer;
    margin-top: 17px;
    text-align: center;
    color: whitesmoke;
    border-radius: 1.5rem;
    background: #ce5b359f;
    font-family: "Poppins", sans-serif;
    border: 0.625rem solid rgba(0, 0, 0, 0.336);
  }

  button:hover {
    color: yellow;
    background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
  }
}
