@media (min-width: 1024px) and (min-height: 625px) and (max-height: 1024px) {
  body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: none;
    overflow-y: auto;
  }

  header {
  }
  .All-sections {
    background-image: url("../../../../assets/fodoProfile.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .container-Publications-Profile {
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 3.5rem 4rem 5rem;
    justify-content: space-between;

    .sectionProfile {
      width: 39%;
      padding: 0%;
      height: 20rem;
      flex-basis: auto;
      .coverPage {
        width: 100%;
        height: 13.5rem;
        background: $colorOrng;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .profilePicture {
        img {
          width: 8rem;
          height: 8rem;
          top: -4rem;
        }
      }
    }

    .sectionPublications {
      margin-left: 1rem;
      padding: 0;
      width: 55%;
      justify-content: unset;
      .containerNewPublications {
        top: 0px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        .textAreaPublication {
          background: white;
        }
        .commentary {
          padding: 0px 1.5rem;
          border: 0px;
          height: 2.5rem;
          display: flex;
          font-size: 0.8rem;
          font-weight: 600;
          align-items: center;
          color: #606060;
          font-family: Roboto;
        }
        textarea {
          height: 7rem;
        }
        .optionsToPost {
          margin-bottom: 0px;
          padding: 0.3rem 2rem 0.3rem 1rem;
          background: white;
          img {
          }
          .btnToPost {
            border-radius: 4rem;
            line-height: 2;
            padding: 4px;
            width: 20%;
          }
        }
      }

      .stories {
        .authorPublication {
          margin-top: 1.5rem;
          padding: 0 3rem 0 3rem;
          .detailsAuthor {
            img {
              width: 3rem;
              height: 3rem;
            }
            h5 {
              padding: 0 0 0 1rem;
            }
          }
        }
        .content {
          height: 10rem;
          background: #fff6ef;
          margin: 1rem auto 0px;
          border-radius: 6px;
          width: 97%;
        }
        .interactions {
          width: 97%;
        }
      }
    }
  }
}
