@media (min-width: 1024px) and (min-height: 625px) and (max-height: 1024px) {
  @mixin align-items() {
    display: flex;
    align-items: center;
    text-align: center;
  }

  %rectangule-style {
    width: 0;
    left: 50%;
    height: 0;
    bottom: 100%;
    content: " ";
    position: absolute;
    pointer-events: none;
    border: solid transparent;
  }

  #container {
    div {
      .log_sign-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        background-color: #000000e0;
        padding: 0.7rem 2rem 0.7rem 2rem;
        justify-content: space-between;

        .logo-icon {
          @include align-items();
          width: 30px;

          img {
            width: 130%;
            height: 85%;
          }
        }

        .logo-principal {
          display: flex;
          justify-content: center;

          img {
            width: 60%;
          }
        }

        .content-about {
          border: 3px solid #fff;
          background-color: transparent;
          @include align-items();
          padding: 0rem 1rem;
          height: 45px;

          p {
            font-family: $FFsecondary;
            color: #fff;
            font-size: 0.9rem;
            margin: 0px;
          }
        }

        .content-about:hover {
          background-color: #fff;

          p {
            color: #883a24;
            font-weight: bolder;
          }
        }

        a {
          text-decoration: none;
        }
      }

      .profile-header {
        display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-grow: 1;
    	height: 6rem;
    	align-items: center;
    	background-color: #883a24;
    	padding: 0rem 2rem 0px 2rem;
    	justify-content: center;

        .logo-principal {
          display: flex;
          justify-content: center;
          margin: 0px 24rem 0rem 32rem;
          .btnLogOut {
                width: 6rem;
    		height: 3rem;
    		border-radius: 3rem;
    		outline: none;
    		border: 0px;
    		background-color: #e5e5e5;
			p {
				margin: 0px;
			}
          }
          img {
            width: 60%;
          }
        }
      }

      .All-sectionsb {
        min-height: 87vh;
        background-image: url("https://storage.googleapis.com/md-links/capital-back.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .sectionFather {
          .sectionSon {
            padding: 10.5% 0% 6%;
            z-index: 2;

            .logo-principalMobile {
              margin: 0px;

              img {
                display: none;
              }
            }

            #circle1 {
              width: 32vw;
              height: 37vw;
              top: 14%;
              left: 62.5%;
            }

            #circle2 {
              width: 36vw;
              height: 42vw;
              border-radius: 50%;
              top: 13%;
              right: 5%;
            }

            #containerLogIn {
              margin: 0% 67.6% 0%;
              width: 22%;

              h1 {
                display: block;
                margin: 0% 32% 6%;
                padding: 0px;
                font-size: 28.5px;
                font-family: "Poppins";
                font-weight: bold;
              }

              .sectionSubTitle {
                padding-bottom: 1rem;

                .LogIn {
                  font-size: 1.2rem;
                }

                .SignUp {
                  font-size: 2rem;
                }

                a {
                  font-size: 0.85rem;
                }
              }

              .sectionNetworks {
                img {
                  width: 50px;
                  height: 50px;
                }
              }

              .container {
                padding: 1rem 1rem 2rem;
                width: 107%;
              }

              .signIn {
                margin-top: 0px;
              }

              p {
                color: black;
                font-weight: bolder;
                font-size: 15px;

                span a {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

#name,
.textInput {
  text-transform: capitalize;
}
