@media (min-width: 1024px) {
    body {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: none;
        overflow: hidden;
    }
    
    .container-Publications-Profile{    
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: row;
        flex-basis: 20%;
        padding: 0 5rem 0 5rem;

        .sectionProfile{
            height: 16rem;
            margin: 3rem 0rem 3rem 8rem;
            .coverPage{
                width: 100%;
                height: 10rem;
                background: $colorOrng;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        
            .profilePicture{        
                img {
                    width: 8rem;
                    height: 8rem;
                    top: -4rem;
                }
            }
        }
        
        .sectionPublications{
            flex-grow: 2;
            margin: 3rem 8rem 0rem 5rem;
            padding: 0;
            .containerNewPublications{
                .commentary{
                    padding: 0 0 0 3rem;
                }
                textarea{
                    height: 10rem;
                }
                .optionsToPost{
                    padding: 0 0 0 3.5rem;
                    img{
                        
                    }
                    .btnToPost{
                        border-radius: 4rem;
                        line-height: 2;
                        margin: 1rem 0 3rem 0;
                        padding: 6px;
                        margin: 0.5rem 0 0.5rem 39rem
                    }
                }
            }
            
            .stories{
                .authorPublication{
                    padding: 0 3rem 0 3rem;
                    .detailsAuthor{
                        img{
                            width: 3rem;
                            height: 3rem;
                        }
                        h5{
                            padding: 0 0 0 1rem;
                        }
                    }
                }
                .content{
                    height: 10rem;
                    background: #FFF6EF;
                }
                .interactions{
                }
            }
        }
    }
}