header {
  display: none;
}

.All-sections {
  min-height: 100vh;
  justify-content: center;
}

.logo-principalMobile {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  display: flex;
  color: whitesmoke;
  padding-top: 2.5rem;
  font-size: 3.4375rem;
  justify-content: center;
  margin-bottom: 2.1875rem;
}

h1 img {
  width: 15px;
  height: 71px;
  margin: 0 0.3rem;
  font-family: "Roboto";
}

h1 img span {
  color: #e59041;
}

.sectionSubTitle {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: space-around;
}

.sectionSubTitle a {
  color: whitesmoke;
  font-size: 0.9375rem;
  text-decoration: none;
  font-family: "Roboto";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sectionSubTitle a:hover {
  color: #ce5c35;
  font-weight: bolder;
  text-decoration: underline;
}

.sectionSubTitle h2 {
  color: whitesmoke;
  font-size: 1.875rem;
  font-family: "Roboto";
  letter-spacing: 0.125rem;
}

.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

.container .item {
  display: flex;
  max-width: 100%;
  font-size: 1.5rem;
  color: whitesmoke;
  position: relative;
  align-items: center;
  margin-top: -0.1062rem;
  text-transform: uppercase;
  border: 0.0625rem solid whitesmoke;
}

.container .item img {
  margin: 0.4rem;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container .item input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.25rem;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
}

.item:first-child::after {
  content: "";
  top: -0.9px;
  width: 100vh;
  right: 1.5rem;
  position: absolute;
  border-top: 0.0625rem solid whitesmoke;
}

.item:last-child::after {
  content: "";
  width: 100vh;
  left: 1.5rem;
  bottom: -0.0563rem;
  position: absolute;
  border-top: 0.0625rem solid whitesmoke;
}

.item:nth-child(odd) {
  border-radius: 0 3rem 3rem 0;
  margin-left: calc(1rem + 40px);
  border-left: 0.0625rem solid transparent;
}

.item:nth-child(even) {
  border-radius: 3rem 0 0 3rem;
  margin-right: calc(0.6rem + 40px);
  border-right: 0.0625rem solid transparent;
}

.signIn {
  display: flex;
  color: whitesmoke;
  font-size: 0.9375rem;
  margin-top: 1.125rem;
  justify-content: center;
  font-family: "Roboto";
}

.sectionNetworks {
  display: flex;
  justify-content: center;
}

.sectionNetworks img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  margin: 1.25rem 1.25rem 1.875rem 1.25rem;
  box-shadow: 0.4375rem 1.5625rem 2rem -0.3125rem rgba(0, 0, 0, 0.38);
}

.sectionNetworks img:hover {
  padding: 0.625rem;
  border: transparent;
  background: radial-gradient(circle, #f4b37e 2%, #ec9443 56%, #c85032 88%);
  border: 0.3125rem solid #c85032ab;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.loginButton {
  display: flex;
  justify-content: center;
}

.loginButton .loginButtonSon {
  height: 50px;
  width: 153px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 3.125rem;
  border: 0.625rem solid rgba(0, 0, 0, 0.15);
}

.loginButton button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: whitesmoke;
  text-align: center;
  border-radius: 3.4375rem;
  letter-spacing: 0.1875rem;
  font: bolder 0.9375rem Roboto;
  background: linear-gradient(82.14deg, #ec9443 -3.88%, #c85032 64.89%);
}

.loginButton button:hover {
  background: linear-gradient(141deg, #c85032 33%, #ec9443 64%);
}

.loginButtonSon:after,
.loginButtonSon:before {
  width: 0;
  left: 50%;
  height: 0;
  content: " ";
  bottom: 100%;
  position: absolute;
  pointer-events: none;
  border: solid transparent;
}

.loginButtonSon:after {
  border-width: 1.25rem;
  margin-left: -1.25rem;
  border-bottom-color: #ce5c35;
}

.loginButtonSon:before {
  border-width: 2.25rem;
  margin-left: -2.25rem;
  border-radius: 1.375rem;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

p {
  display: flex;
  color: grey;
  font-size: 1rem;
  margin-top: 4.5rem;
  justify-content: center;
  font-family: "Roboto";
}

p span a {
  font-size: 1rem;
  color: #ce5c35;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.3125rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p span a:hover {
  color: grey;
  font-weight: bolder;
  text-shadow: 0.625rem;
  text-decoration: underline;
}

.sectionSon {
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.sectionSon #containerLogIn h1 {
  display: none;
}

#circle1 {
  width: 180vw;
  height: 180vw;
  position: absolute;
  top: -15%;
  left: -40%;
  z-index: -5;
  border-radius: 50%;
  background-image: linear-gradient(180deg, rgba(19, 19, 19, 0.8) 19.79%, rgba(204, 83, 51, 0.8) 53.13%, rgba(200, 80, 50, 0.8) 82.29%, rgba(194, 141, 125, 0.8) 100%), url("/assets/burbuja.png");
  background-size: contain;
}

#circle2 {
  width: 180vw;
  height: 190vw;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: -8%;
  right: -30%;
  z-index: -10;
  background: radial-gradient(50% 50% at 50% 50%, #6c4237 76.04%, #c03510 100%);
}

@media (min-width: 1024px) and (min-height: 625px) and (max-height: 1024px) {
  body {
    margin: 0px;
    background-image: url("https://storage.googleapis.com/md-links/capital-back.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: none;
    overflow: hidden;
  }
  body:before {
    content: "";
    background-color: #000;
    opacity: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000000 97.4%), linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  #container div .log_sign-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    background-color: #000000e0;
    padding: 0.7rem 2rem 0.7rem 2rem;
    justify-content: space-between;
  }
  #container div .log_sign-header .logo-icon {
    display: flex;
    align-items: center;
    text-align: center;
    width: 30px;
  }
  #container div .log_sign-header .logo-icon img {
    width: 130%;
    height: 85%;
  }
  #container div .log_sign-header .logo-principal {
    display: flex;
    justify-content: center;
  }
  #container div .log_sign-header .logo-principal img {
    width: 60%;
  }
  #container div .log_sign-header .content-about {
    border: 3px solid #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem;
    height: 45px;
  }
  #container div .log_sign-header .content-about p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 0.9rem;
    margin: 0px;
  }
  #container div .log_sign-header .content-about:hover {
    background-color: #fff;
  }
  #container div .log_sign-header .content-about:hover p {
    color: #883a24;
    font-weight: bolder;
  }
  #container div .profile-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    background-color: #883a24;
    padding: 0.7rem 2rem 0.7rem 2rem;
    justify-content: center;
  }
  #container div .profile-header .logo-principal {
    display: flex;
    justify-content: center;
  }
  #container div .profile-header .logo-principal img {
    width: 60%;
  }
  #container div .All-sections {
    min-height: 87vh;
  }
  #container div .All-sections .sectionFather .sectionSon {
    padding: 4.5% 0% 6.5%;
  }
  #container div .All-sections .sectionFather .sectionSon .logo-principalMobile {
    margin: 0px;
  }
  #container div .All-sections .sectionFather .sectionSon .logo-principalMobile img {
    display: none;
  }
  #container div .All-sections .sectionFather .sectionSon #circle1 {
    width: 32vw;
    height: 37vw;
    top: 3%;
    left: 62.5%;
  }
  #container div .All-sections .sectionFather .sectionSon #circle2 {
    width: 36vw;
    height: 42vw;
    border-radius: 50%;
    top: 2%;
    right: 5%;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn {
    margin: 0% 67.6% 0%;
    width: 22%;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn h1 {
    display: block;
    margin: 0% 32% 6%;
    padding: 0px;
    font-size: 226%;
    font-family: Roboto;
    font-weight: bold;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .sectionSubTitle {
    padding-bottom: 1rem;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .sectionSubTitle .LogIn {
    font-size: 1.2rem;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .sectionSubTitle .SignUp {
    font-size: 2rem;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .sectionSubTitle a {
    font-size: 0.85rem;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .sectionNetworks img {
    width: 50px;
    height: 50px;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .container {
    padding: 1rem 1rem 2rem;
    width: 107%;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn .signIn {
    margin-top: 0px;
  }
  #container div .All-sections .sectionFather .sectionSon #containerLogIn p {
    color: whitesmoke;
  }
}

.container-Publications-Profile {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container-Publications-Profile .sectionProfile .coverPage {
  width: 100%;
  height: 10em;
  background: #ce5c35;
  border-radius: 10px;
}

.container-Publications-Profile .sectionProfile .coverPage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-Publications-Profile .sectionProfile .profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3rem;
}

.container-Publications-Profile .sectionProfile .profilePicture img {
  width: 8rem;
  height: 8rem;
  position: relative;
  top: -4rem;
  border-radius: 50%;
  border: solid #3d3b3b;
}

.container-Publications-Profile .sectionPublications {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container-Publications-Profile .sectionPublications .containerNewPublications {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-Publications-Profile .sectionPublications .containerNewPublications textarea {
  width: 100%;
  height: 5rem;
  background: rgba(228, 192, 139, 0.8);
  border-radius: 10px;
  border: solid 2px #3d3b3b;
  padding: 1rem;
}

.container-Publications-Profile .sectionPublications .containerNewPublications .btnToPost {
  width: 30%;
  height: 100%;
  border: none;
  outline: none;
  color: whitesmoke;
  text-align: center;
  border-radius: 3.4375rem;
  font: bolder 0.9375rem Roboto;
  background: linear-gradient(82.14deg, #494541 -3.88%, #c85032 64.89%);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.container-Publications-Profile .sectionPublications .stories .authorPublication {
  width: 100%;
  height: 3rem;
  background: rgba(192, 54, 16, 0.808);
  padding: 0.5rem;
  border-radius: 20px 20px 0 0;
  border: solid 2px #3d3b3b;
}

.container-Publications-Profile .sectionPublications .stories .content {
  width: 100%;
  height: 10rem;
  background: rgba(228, 192, 139, 0.8);
  padding: 0.5rem;
  border: solid 2px #3d3b3b;
}

.container-Publications-Profile .sectionPublications .stories .interactions {
  width: 100%;
  height: 3rem;
  background: rgba(192, 54, 16, 0.808);
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 0 0 10px 10px;
  border: solid 2px #3d3b3b;
}

.container-Publications-Profile .sectionPublications .stories .interactions img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logOut {
  width: 80px;
  margin: auto;
  height: 40px;
  display: flex;
  outline: none;
  color: white;
  font-size: 12px;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 12px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border: 5px solid rgba(0, 0, 0, 0.322);
  box-shadow: 10px 10px 16px -1px rgba(0, 0, 0, 0.75);
  background: linear-gradient(82.14deg, #ec9443 -3.88%, #c85032 64.89%);
}

@media (min-width: 1024px) {
  .container-Publications-Profile {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-basis: 20%;
  }
  .container-Publications-Profile .sectionProfile {
    margin: 3rem 0rem 3rem 8rem;
  }
  .container-Publications-Profile .sectionProfile .coverPage {
    width: 100%;
    height: 8rem;
    background: #ce5c35;
  }
  .container-Publications-Profile .sectionProfile .coverPage img {
    width: 100%;
    height: 100%;
  }
  .container-Publications-Profile .sectionProfile .profilePicture img {
    width: 8rem;
    height: 8rem;
    top: -4rem;
  }
  .container-Publications-Profile .sectionPublications {
    flex-grow: 2;
    margin: 3rem 8rem 0rem 5rem;
  }
  .container-Publications-Profile .sectionPublications .containerNewPublications textarea {
    height: 8rem;
  }
  .container-Publications-Profile .sectionPublications .containerNewPublications .btnToPost {
    border-radius: 4rem;
    line-height: 2;
    margin-bottom: 0.8rem;
  }
  .container-Publications-Profile .sectionPublications .stories .content {
    width: 100%;
    height: 10rem;
    background: rgba(228, 192, 139, 0.842);
  }
  .container-Publications-Profile .sectionPublications .stories .interactions {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
